@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.monse{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
}

nav{
    background-color: #f2f1ee;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: underline;
}
.tarjetas{
    display: flex;
}
.logo{
    width: 100px;
}
nav li{
    display: inline;
    padding: 60px;
    font-size: 25px;
}
nav img{
    width: 150px;
}
body{
    margin: auto;
    background-color: #e9dbc8;
    
}
.card{

    width: 300px;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff9df;
    box-shadow: 0px 5px 5px #888888;
    
   
}
.card-content{
  padding: 20px;
}
.card img{
    width: 100%;
    height: 300px;
}
.Tasa{
    display: block;
    align-items: center;
}
.masV{
    width: 350px;
    height: 230px;
}
.botom{
    background-color: #e2aa72;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    
}

.botom:hover{
    box-shadow: 0px 5px 15px #ccc;
    background-color: #f3c786;
    transform: 1.05;
}

.card:hover{
    box-shadow: 0px 5px 15px #818181;
    background-color: #ffebb4;
    transform: 1.05;
}

.asaside{
    
    align-items: center;
    display: flex;
    margin-top: 190px;
    margin-bottom: 100px;
    
    
    justify-content: center;
}
.pasa{
    
    width: 400px;
    margin-top: -10px;
}
.opa{
    margin: 25px;
}
footer{
    background-color: #31231E;
    padding: 50px;
    margin: auto;
    text-align: center;
    color: white;
}

.h1c{
    position: relative; top: -200px;
    position: relative; right: -400px;
    font-size: 30px;
}
.calta{
    margin: 90px;
}
.pReseña{
    text-align: center;
    display: flex;
    width: 800px;
    margin: 90px;
    position: relative; right: -400px;
    font-size: 25px; 
}

.precio{
    color: rgb(172, 104, 40);
}
.resei{
    display: flex;
    width: 500px;
    margin: 90px;
    position: relative; right: -530px;
    
}